<!DOCTYPE html>
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    title Isomorphic
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body
    #main(role="main")!= content
    script(src="/bundle.js")
